{% extends 'base.html' %}
{% load static %}

{% block title %}Rock Paper Sci.{% endblock title %}
{% block body %}

<div class="container-fluid">
<div class="heading container">
    <h1>Welcome to Rock Paper Scissior Game</h1>
    <p>Shoot!</p>
</div>
<div class="container">
    <div class="card p-2 m-4" style="width: 18rem;">
        <img src="{% static 'rock.png' %}" width="50%" alt="">
        
        <div class="card-body ">
            <h5 class="card-title">1:'Rock', 2:'Paper', 3:'Scissior'</h5>
            <form class="row g-3" action="/rps/" method="post">
              {% csrf_token %}
            <div class="col-auto">
              <label for="inputPassword2" class="visually-hidden">1,2,3</label>
              <input type="password" class="form-control" name="user"  id="inputPassword2" placeholder="Guess Number">
            </div>

            <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-3">Shoot?</button>
            </div>
          </form>

          <p class="card-text">Result -: <b>{{result}}</b></p>
        </div>
      </div>

</div>

</div>



{% endblock body %}

{% block js %}{% endblock js %}